{% load static %}
<!--Navbar com a logo-->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="">
    <img src="{% static 'images/logo.png' %}" width="120" height="120" class="d-inline-block align-top" alt="Logo GYS">
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-lg active" href="{% url 'home' %}" role="link" >HOME</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-lg" href="{% url 'produtos' %}" role="link" >PRODUTOS</a>
      </li>
    </ul>
    <div class="botoes">
      <a id="cadastre-se" class="btn btn-lg" href="{% url 'cadastro' %}" role="link" >CADASTRE-SE</a>
    </div>
  </div>
</nav>
<!-- Fim do Navbar da logo -->
<section id="register-user">
  <div class="div-main d-flex text-center align-items-center">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-5 fw-bold">Cadastrar Usuário</h1>

      <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label" for="typeText">Usuário</label>
          <input
            type="text"
            id="typeText"
            class="form-control"
            placeholder="usuário..."
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="typeText">Endereço</label>
          <input
            type="text"
            id="typeText"
            class="form-control"
            placeholder="usuário..."
            name="endereco"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Endereço de E-mail</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="e-mail..."
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="senha..."
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </div>
</section>
