{% load static %} 

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Viveiro GYS</title>

    <!--Navbar com a logo-->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="">
        <img src="{% static 'images/logo.png' %}" width="150" height="120" class="d-inline-block align-top" alt="Logo GYS">
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="btn btn-lg active" href="{% url 'home' %}" role="link" >HOME</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-lg" href="{% url 'sobre' %}" role="link" >SOBRE</a>
          </li>
        </ul>
        <div class="botoes">
          <a id="cadastre-se" class="btn btn-lg" href="{% url 'cadastro' %}" role="link" >CADASTRE-SE</a>
          <a id="login" class="btn btn-lg active" href="{% url 'login' %}" role="link" >ENTRAR</a>
        </div>
      </div>
    </nav>
    <!-- Fim do Navbar da logo -->
  </head>
  
    <!--Início do carrossel-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img class="first-slide" src="{% static 'images/jiboia.png' %}" alt="First slide">
      <div class="container">
      <div class="carousel-caption text-left">
        <h1>VIVEIRO DE PLANTAS GYS</h1>
        <p>cultivamos e apreciamos a natureza</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'cadastro' %}" role="button">COMPRE AGORA</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="{% static 'images/costela-de-adao.png' %}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>sla </h1>
            <p>socorro</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'cadastro' %}" role="button">COMPRE AGORA</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="{% static 'images/cacto.jpg' %}" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1> Plantas para deixar seu ambiente mais confortável! </h1>
            <p><a class="btn btn-lg btn-primary" href="{% url 'sobre' %}" role="button">Saiba mais!</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'images/costela-de-adao.png' %}" alt="Planta Costela de Adão" width="140" height="140">
        <h2>COSTELA DE ADÃO</h2>
        <p> Uma planta para um abiente elegante. </p>
        <p><a class="btn btn-secondary" href="{% url 'cadastro' %}" role="button"> Comprar &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'images/suculenta.jpeg' %}" alt="suculenta" width="140" height="140">
        <h2>SUCULENTA</h2>
        <p> A planta perfeita para iniciantes! </p>
        <p><a class="btn btn-secondary" href="{% url 'cadastro' %}" role="button">Comprar &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'images/rosadodeserto.jpeg' %}" alt="rosa do deserto" width="140" height="140">
        <h2> ROSA DO DESERTO </h2>
        <p> A planta certa para muito sol!</p>
        <p><a class="btn btn-secondary" href="{% url 'cadastro' %}" role="button">Comprar &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
      <h2 class="featurette-heading"> Comigo ninguém pode são plantas ótimas para agregar no ambiente pessoal e profissional. <span class="text-muted"><a href="{% url 'cadastro' %}"> Adquira uma! </a></span></h2>
      </div>
      <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'images/comigo-ninguem-pode.jpg' %}" alt=" planta comigo ninguém pode">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Flor de Hibisco são encantadoras flores tropicais de diversas cores, da mesma família das papoulas!<a href="{% url 'cadastro' %}"> Adquira uma! </a></h2>
      </div>
      <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'images/hibisco.jpg' %}" alt="hibisco">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
      <h2 class="featurette-heading">Crisântemos são flores que demonstram delicadeza e sensiblidade.<a href="{% url 'cadastro' %}"> Adquira uma!</a></h2>
      </div>
      <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'images/crisantemo.jpg'%}" alt="Crisântemos">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">De volta ao topo</a></p>
    <p>&copy; 2022</p>
  </footer>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>

