{% load bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GYS</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>
  <body>
    {% block header %}
    <!--Inicio do Header-->
    {% include 'base/components/header.html' %}
    
    {% endblock header %}
    <!--Fim do Header-->
    
    {% block conteudo %} 
    <!--Inicio do Home-->
    {% include 'base/pages/home.html' %}
    
    {% endblock conteudo %}
    <!--Fim do Home-->
    
    <!---->
    {%bootstrap_javascript %}
  </body>
</html>
